@media only screen and (max-width: 768px) {
  .choose-point {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    span {
      width: 10px;
      height: 10px;
      background: #BEBEBE;
      border-radius: 5px;
    }

    span.focus {
      background: #7DB800;
    }
  }
}

@media only screen and (min-width: 769px) {
  .choose-point {
    display: none;
  }
}


.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  direction: ltr;
  position: relative;
  z-index: 0;

}

.fotorama__stage {
  max-width: 700px;
  height: 700px;
  overflow: hidden;
  position: relative;


  .fotorama__stage__shaft {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .fotorama__arr--prev {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 9999;
    left: 0;

    .fotorama__arr__arr {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 45px;
      height: 45px;
      border-radius: 25px;
      background-color: #ffffff;
      line-height: 45px;
      font-size: 24px;
      text-align: center;
    }
  }

  .fotorama__arr--next {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 9999;

    .fotorama__arr__arr {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 45px;
      height: 45px;
      border-radius: 25px;
      background-color: #ffffff;
      line-height: 45px;
      font-size: 24px;
      text-align: center;
    }
  }
}



.fotorama__stage__frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.fotorama__nav__shaft {
  display: flex;
  gap: 10px;

  .fotorama__active {
    border: 1px solid #b6b5b5;
  }
}





.fotorama__stage__frame {
  display: flex;
  justify-content: center;
  max-width: 100%;
  position: relative;
  width: 100%;
}


.fotorama__nav__shaft {
  display: flex;
  gap: 10px;

  .fotorama__active {
    border: 1px solid #b6b5b5;
  }
}



.fotorama__fullscreen-icon {
  background-position: 0 0;
  display: none;
  height: 80px;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 1000;
}

.fotorama__arr--prev {
  left: 0;
}

.fotorama__stage__shaft {
  display: flex;
}