/* 小於等於 768px 寬度的設備，例如手機 */
@media only screen and (max-width: 768px) {
  .product-items-list {
    align-content: flex-start;
    gap: 20px;
    font-size: 16px;
    padding: 0;
    justify-content: space-around;
  }
}

/* 大於 768px 寬度的設備，例如平板 */
@media only screen and (min-width: 769px) {

  .product-items-list {

    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px;
    font-size: 16px;
    padding: 0;
  }
}

.product-items-list {
  display: flex;
  flex-wrap: wrap;

  .product-item {
    width: 288px;
    height: 450px;
    list-style: none;
    margin-bottom: 20px;

    .product-item-photo-container {
      background: rgb(240, 240, 240);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;

      .product-item-photo {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .product-item-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100px;
      margin-top: 20px;

      .product-item-name a {
        width: 288px;
        text-decoration: none;
        line-height: 1.5;
        font-weight: 600;
        white-space: break-spaces;
        color: rgb(33, 33, 33);
        text-transform: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }

      .product-price {
        display: flex;

        .normal-price {
          text-decoration: none;
          line-height: 1.5;
          font-weight: 600;
          white-space: break-spaces;
          color: rgb(162, 162, 162);
          text-transform: none;
        }

        .line-through {
          text-decoration: line-through;
          margin-right: 13px;
        }

        .discount-price {
          text-decoration: none;
          line-height: 1.5;
          font-weight: 600;
          white-space: break-spaces;
          color: rgb(33, 33, 33);
          text-transform: none;
        }
      }
    }

  }

  .product-reviews-summary {
    display: flex;
    margin-bottom: 15px;

    .reviews-actions {
      font-size: 0.75rem;
      margin-top: 5px;
    }

    .rating-summary {
      margin: 0 10px 0 0;
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;

      .rating-result {
        width: 88px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }


      .rating-result:before {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        color: #c4c4c4;
        font-family: 'luma-icons';
        font-size: 16px;
        height: 16px;
        letter-spacing: 2px;
        line-height: 16px;
        content: '\e605''\e605''\e605''\e605''\e605';
        display: block;
        font-style: normal;
        font-weight: normal;
        speak: none;
      }

      .rating-result>span {
        display: block;
        overflow: hidden;
      }

      .rating-result>span:before {
        position: relative;
        z-index: 2;
        -webkit-font-smoothing: antialiased;
        color: #ff9900;
        font-family: 'luma-icons';
        font-size: 16px;
        height: 16px;
        letter-spacing: 2px;
        line-height: 16px;
        content: '\e605''\e605''\e605''\e605''\e605';
        display: block;
        font-style: normal;
        font-weight: normal;
        speak: none;
      }


      .rating-result>span span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .label {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

    }

    a,
    .alink {
      color: #006bb4;
      text-decoration: none;
    }
  }
}